

<flex-spark-group>
    <flex-spark-radio-button-group id="ouinon" enabled="true"></flex-spark-radio-button-group>
    <flex-spark-group id="contentGroup">
        <flex-spark-label paddingBottom="1" textAlign="left" fxFlex="100" id="label_label" text="{label}"></flex-spark-label>
        <div verticalAlign="middle" fxFlex="100" id="hgroup_ouinon" fxLayout="row">
            <flex-spark-radio-button groupName="ouinon" id="oui" label="oui" value="1" click="radiobutton_clickHandler(event)" selected="false"></flex-spark-radio-button>
            <flex-spark-radio-button groupName="ouinon" id="non" label="non" value="0" click="radiobutton_clickHandler(event)" selected="false"></flex-spark-radio-button>
        </div>
    </flex-spark-group>
</flex-spark-group>

