

<flex-spark-group>
    <flex-spark-layout>
        <flex-spark-vertical-layout gap="2"></flex-spark-vertical-layout>
    </flex-spark-layout>
    <mxml-2009-declarations>
        <flex-spark-radio-button-group id="ouinon" enabled="true"></flex-spark-radio-button-group>
    </mxml-2009-declarations>
    <flex-spark-group id="contentGroup">
        <flex-spark-layout>
            <flex-spark-vertical-layout gap="2"></flex-spark-vertical-layout>
        </flex-spark-layout>
        <flex-spark-label paddingBottom="1" textAlign="left" width="100%" id="label_label" text="{label}"></flex-spark-label>
        <flex-spark-hgroup verticalAlign="middle" width="100%" id="hgroup_ouinon">
            <flex-spark-radio-button groupName="ouinon" id="oui" label="oui" value="1" click="radiobutton_clickHandler(event)" selected="false"></flex-spark-radio-button>
            <flex-spark-radio-button groupName="ouinon" id="non" label="non" value="0" click="radiobutton_clickHandler(event)" selected="false"></flex-spark-radio-button>
        </flex-spark-hgroup>
    </flex-spark-group>
</flex-spark-group>

