
<flex-spark-group> 
 <flex-spark-radio-button-group id="ouinon" enabled="true"> 
 </flex-spark-radio-button-group>
 <flex-spark-group id="contentGroup"> 
  <flex-spark-label label="" id="label_label" fxFlex="100" paddingBottom="1" [text]="label" textAlign="left"> 
  </flex-spark-label>
  <div fxFlex="100" fxLayout="row" id="hgroup_ouinon" verticalAlign="middle"> 
   <flex-spark-radio-button id="oui" value="1" label="oui" groupName="ouinon" selected="false" click="radiobutton_clickHandler(event)"> 
   </flex-spark-radio-button>
   <flex-spark-radio-button id="non" value="0" label="non" groupName="ouinon" selected="false" click="radiobutton_clickHandler(event)"> 
   </flex-spark-radio-button>
  </div>
 </flex-spark-group>
</flex-spark-group>

