
<flex-spark-application fxflex> 
 <flex-spark-panel title="Form Container Example" fxflex="75" height="75%" horizontalcenter="0" verticalcenter="0"> 
  <div fxlayout="column wrap" fxlayoutalign="space-between none" fxflex="100" height="100%"> 
   <flex-mx-form fxflex="100" height="100%"> 
    <div fxflex="100" fxlayout="row" height="40%"> 
     <flex-mx-form-item fxflex="25" label="Input text"> 
      <flex-mx-text-input id="text" text="Example1"> 
      </flex-mx-text-input>
     </flex-mx-form-item>
    </div>
   </flex-mx-form>
  </div>
 </flex-spark-panel>
</flex-spark-application>

